.wrapper
    .first_block
        .logo
            img.logo_img(src="./png/logo.png")
            p.description Официальный дистрибьютер в Крыму с 2005 года
        .geo
            img.logo_geo(src='./png/geopos.png')
            p.text_geo 
                |Ближайший магазин<br/>
                |Симферополь<br/>
                |ул. Маяковского 14-Э
        .clock
            img.logo_time(src="./png/clock.png")
            p.text_time 
                |Пн. - Пт.:<br/>
                |09:00 - 18:00<br/>
                |Выходные:<br/>
                |Сб. - Вс.
        .phone 
            .number
                img.logo_phone(src="./png/phone.png")
                p.text_phone 
                            |+7 (978) 729-02-15<br/>
                            | (3652) 24-82-31
            a.callback(href="#") Обратный звонок