.header
    .default_menu
        ul.groupLeft
            li.groupLeftItem
                a(href="#") Главная
            li.groupLeftItem
                a(href="#") О компании
            li.groupLeftItem
                a(href="#") Оплата
            li.groupLeftItem
                a(href="#") Доставка
            li.groupLeftItem
                a(href="#") Гарантия
            li.groupLeftItem
                a(href="#") Акции %
            li.groupLeftItem
                a(href="#") Контакты
        ul.groupRight
            li.groupRightItem
                a(href="#") Регистрация
            li.groupRightItem
                a(href="#") Войти
    .fixed_menu
        ul.groupLeft
            li.groupLeftItem
                a(href="#") Главная
            li.groupLeftItem
                a(href="#") О компании
            li.groupLeftItem
                a(href="#") Оплата
            li.groupLeftItem
                a(href="#") Доставка
            li.groupLeftItem
                a(href="#") Гарантия
            li.groupLeftItem
                a(href="#") Акции %
            li.groupLeftItem
                a(href="#") Контакты
        .groupRight
            span.icon
                i.far.fa-heart
            span.value 0
            span.icon
                i.far.fa-copy.icon
            span.value 0
            span.icon
                i.fas.fa-shopping-basket.icon
            span.value 0