.main_wrapper
    .masks
    img.crisps(src='./png/crisps.png')
    .text_description
        h1.name пылесос с водяным фильтром
        p.description Высочайшая сила всасывания и многоступенчатая система фильтрации, реализованная в пылесосе DS 6000 Mediclean, делают воздух в помещении до 99,99% чище. Аллергики                     
        p.description могут вздохнуть спокойно! Пылесос с аквафильтром DS 6.000 Mediclean рекомендован Российской Ассоциацией Аллергологов и Клинических иммунологов (РААКИ).
    .product
        .pictures
            .slider
                img.img_slider.active#pic1(src='./png/pic1.png')
                img.img_slider#pic2(src='./png/pic2.png')
                img.img_slider#pic3(src='./png/pic3.png')
                img.img_slider#pic4(src='./png/pic4.png')
            img.main_img#mainpic(src='./png/pic5.png')
        .info
            .name_block
                .available
                    img(src="./png/check.png")
                    p В наличии
                .title
                    p Karcher DS 6.000 Mediclean
                .hexagons
                    .black_hexagon
                        img(src="./png/octBl.png")
                        span new
                    .yellow_hexagon
                        img(src="./png/octYel.png")
                        span хит
            .stars_block
                ul.stars_list
                    li.star
                        i.far.fa-star
                    li.star
                        i.far.fa-star
                    li.star
                        i.far.fa-star
                    li.star
                        i.far.fa-star
                    li.star
                        i.far.fa-star
                span(id="reviewQuantity") (123)
                .review
                    i.far.fa-comment-dots
                    a(href="#") оставить отзыв
            .price_block
                .buy_block
                    .price
                        .value
                            span 21 190
                            div руб.
                        .bucket
                            i.fas.fa-shopping-basket.fa-w-18 
                    .links
                        .favorite
                            i.far.fa-heart
                            a(href="#") в избранное
                        .compare
                            i.far.fa-copy.icon
                            a(href="#") сравнить
            .description_block
                p Подробные #[a(href='#') условия доставки] и #[a(href='#') оплаты]
                a(href="#") Гарантия на бытовую технику 5 лет!
                p Качественная чистка полов, ковровых покрытий и мягкой мебели. Благодаря  дополнительному фильтру  HEPA 13 очищается воздух в помещении от мелких частиц пыли, спор и пыльцы, вызывающих аллергию, а система Perma Power увлажняет его. Легкий, удобный в эксплуатации. Рекомендован для использования в медицинских учреждениях.
                p #[strong Артикул]: 1.195-202.0