.second_wrapper
    span.catalog Каталог
        .shadow.disable
            .popup
                .tabs
                    span.tab.cat#cat каталог
                    span.tab.home home & garden/бытовая техника
                    span.tab.prof professional/профессиональная техника
                .grid_wrapper
                        img.products(src="./png/5hAGt79E.jpg")
                        img.products(src="./png/rLRyGYpt.jpg")
                        img.products(src="./png/P1C4JFp8.jpg")
                        img.products(src="./png/nV5O5DQD.jpg")
                        img.products(src="./png/Y6QIzVXs.jpg")
                        img.products(src="./png/F9tIxThU.jpg")
                        img.products(src="./png/VEMWyZP5.jpg")
                        img.products(src="./png/NTFUs5Vq.jpg")
                        img.products(src="./png/vSfK8SzA.jpg")
                        img.products(src="./png/XLtt2CSF.jpg")
                        img.products(src="./png/rHct0Jr2.jpg")
                        img.products(src="./png/jWOFSSX9.jpg")
                .popup_footer
    .searchField
        input.leftSide(type="search" placeholder="Поиск товаров Karcher")
        .rightSide
            i.fas.fa-search
    .icon_bar
        span.icon
            i.far.fa-heart
            span.value 0
        span.icon
            i.far.fa-copy.icon
            span.value 0
        span.icon
            i.fas.fa-shopping-basket.icon
            span.value 0